<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/style.css">
    <div class="navbar">
        <!-- <div class="logo"> -->
            <p id=logoName> Blog Journel</p>
        <!-- </div> -->
        <!-- <div class="navLists"> -->
            <ul>
                <li id=home class="list"> <a href="/">Home</a> </li>
                <li id="about"  class="list"><a href="/about">About Us</a> </li>
                <li  id="contact" class="list"><a href="/contact">Contact Us</a></li>
            </ul>
        <!-- </div> -->
    </div>
    
    
</head>
<body>
    <div class="main">
 